@mixin card-product {
  height: 337px;
  width: 330px;
  border-radius: 8px;
  border: 1px solid #b7b7b7;
}

@mixin card-button {
  height: 25px;
  width: 130px;
}

@mixin search-bar {
  height: 50px;
  width: 70vw;
}

@mixin input-field {
  height: 50px;
  width: 525px;
}

@mixin card-purchase {
  height: 310px;
  width: 330px;
  border-radius: 8px;
  border: 1px solid #b7b7b7;
}


@mixin purchase-button {
  height: 50px;
  width: 30vw;
}
