
// General
$blue: #0C70F2;
$black: #000;
$white: #fff;
$page-background-color: #F5F5F5;
$global-bRadius: 10px;

//Headers
$shadow-header: 2px 4px 4px 0px #ADADAD40;
$header-gray-light: #7A7A7A26;
$header-gray-dark: #7A7A7A;

//Cart Section
$cart-summary-background: #EEEEEE33;
$cart-summary-dShadow: 0px 4px 4px 0px #00000040;

//Inputs
$input-border: 1px solid #7A7A7A;